#container a{ text-decoration:none; color:#000}
/*个人设置*/
.top{ width:100%;
	  height:96px;
	  background:#fff;
	  border-bottom:solid 1px #CCCCCC;
	  position:fixed;top:0;
	  z-index:5;
	  font-size:50px; 
	 }
.top a{
	color:#000;text-decoration:none;                 
		} 

.top .top_left{ float:left;
	 			width:15%;
				line-height:105px;
	 			height:96px; 
	 			padding-left:5%;
	 			cursor:pointer;
	 		   }
.top .top_center{ float:left;
				  width:70%;
				  height:96px;
	 			  font-weight:bold;
				  text-align:center;
	              color:#383838;
	              line-height:96px;
				  }
				  
.top .top_right{
	float:left;  
	 width:15%;
	 height:60px;
	 margin-top:15px;
	 text-align:center;
	 line-height:60px; 
	 }

.top .top_right input{ border:none; 
					   background:none;
					   font-size:30px; 
					   font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
					  }


/* footer*/
.footer{
   width:100%;
   height:96px;
   position:fixed;
   bottom:0px;
   z-index:5;
   font-size:50px;
   line-height:96px;
   border-top:solid 1px #CCCCCC;
   }

.footer .f_left{
	float:left;
	width:33%;
	height:96px;
	text-align:center;
	}
.footer .f_center{
	float:left;
	width:33%;
	height:96px;
	text-align:center;
	}
.footer .f_right{
	float:left;
	width:33%;
	height:96px;
	text-align:center;
	}
.footer a{
	color:#000;
	}
	
	
/*清零*/
*{ margin:0px; padding:0px;}
/*清零*/
#container{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}

#main{ width:100%; height:1300px; background:#dedede; padding-top:96px;}

		   
#main_center{ width:100%;
			  height:80px;
			  border:none;
		   	 }
			 
#main_center input{ height:80px;
					border:none
					background:#FFF
				   }

#main div .Txt{ width:100%;
			    height:80px;
				border:none;
				background:#FFF;
				font-size:28px;
				margin-top:20px;
			   }
			   
#main div .txt{ width:100%;
			    height:80px;
				border:none;
				background:#FFF;
				font-size:28px;
				margin-top:50px;
			   }


